# Lambda Function Basics - Practice Through Questions

### Q1. - Write a lambda to add two numbers.

In [44]:
sum = lambda a,b : a + b
print(sum(3,8))

11

### Q2. - Lambda to square a number.

In [45]:
square  = lambda a : a**2
print(square(4))

16

### Q3. - Lambda to check if a number is even or odd.

In [46]:
check_even = lambda x : "Even" if x % 2 == 0 else "Odd"
print(check_even(2))

Even

### Q4. - Lambda to return the larger of two numbers.

In [47]:
check_large = lambda x, y : x if x > y else y
print(check_large(4,8))

8

### Q5. - Lambda to convert Celsius to Fahrenheit.

In [48]:
to_fahrenheit = lambda x : (x * 9/5) + 32
print(to_fahrenheit(38))

100.4

### Q6. - Given [1,2,3,4,5], use lambda + map() to square every number.

In [49]:
l = [1,2,3,4,5]
square_l = list(map(lambda x : x**2, l))
print(square_l)

[1, 4, 9, 16, 25]

### Q7. - Convert list of strings to uppercase using lambda.

In [50]:
name = "kishan"
upper_name = lambda x : x.upper()
print(upper_name(name))

KISHAN

### Q8. - From [10,20,30], create a new list adding 5 to each element.

In [51]:
l2 = [10, 20, 30]
add_five = list(map(lambda x : x+5, l2))
print(add_five)

[15, 25, 35]

### Q9. - Given list of prices, apply 10% discount using lambda.

In [52]:
prices = [235,600, 850]
discounted_price = list(map(lambda x : x - (x/10), prices))
print(discounted_price)

[211.5, 540.0, 765.0]

### Q10. - Convert list of integers to strings using lambda.

In [53]:
integers = [3,4,8,23,46]
to_string  = list(map(lambda x : str(x), integers))
print(to_string)

['3', '4', '8', '23', '46']

### Q11. - From [1..20], filter even numbers.

In [54]:
l4 = [x for x in range(1, 21)]
even_only = list(filter(lambda x : x % 2 == 0, l4))
even_only

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Q12. - Filter numbers greater than 50 from list.

In [55]:
l5 = [43, 67, 83, 13, 90, 56]
larger_than_fifty = list(filter(lambda x : x > 50, l5))
larger_than_fifty

[67, 83, 90, 56]

### Q13. - Filter words longer than 4 characters.

In [56]:
names = ['lokesh','kishan','raju','om','saran']
remain_names = list(filter(lambda x : len(x) > 4, names))
remain_names

['lokesh', 'kishan', 'saran']

### Q14. - From list of names, filter names starting with 'A'.

In [65]:
names2 = ['lokesh','ankita', 'praveen','aman','yash','Ankit']
names_with_a = list(filter(lambda x : x if x[0].lower() == 'a' else None, names2))
names_with_a

['ankita', 'aman', 'Ankit']

### Q15. - Sort list of tuples by second element

In [66]:
data = [(1,3),(2,1),(4,2)]
sorted_data = sorted(data, key = lambda x : x[1])
sorted_data

[(2, 1), (4, 2), (1, 3)]

### Q16. - Sort list of strings by length.

In [67]:
s1 = ['tarun','kishan','lokesh','raju','om']
sorted_s1 = sorted(s1, key = lambda x : len(x))
sorted_s1

['om', 'raju', 'tarun', 'kishan', 'lokesh']

### Q17. - Sort students list by marks descending

In [71]:
students=[("Ram",78),("Shyam",45),("Aman",90)]
sorted_students = sorted(students, key = lambda x : x[1], reverse = True)
sorted_students

[('Aman', 90), ('Ram', 78), ('Shyam', 45)]

### Q18. - Use lambda to multiply all numbers in a list.

In [74]:
from functools import reduce
l6 = [1,2,3,4,5]
multiplied = reduce(lambda a,b : a*b, l6)
multiplied

120

### Q19. - Find maximum number in list using lambda.

In [79]:
l7 = [15,89,45,93,235,5,89,33]
largest = reduce(lambda a,b : a if a > b else b, l7)
largest

235

### Q20. - Write lambda to reverse a string.

In [81]:
text = 'lokesh'
reverse_text = lambda x : x[::-1]
reverse_text(text)

'hsekol'

### Q21. - Lambda to check palindrome.

In [83]:
text_list = ['naman','raju','nitin','komal']
palindrome_text = list(filter(lambda x : x if x[::-1] == x else None, text_list))
palindrome_text

['naman', 'nitin']